/* color code */
/* line 9, ../scss/mypage.scss */
.mypage-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 15, ../scss/mypage.scss */
.pull-down {
  position: relative;
}
/* line 18, ../scss/mypage.scss */
.pull-down > a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dadade;
  color: #7d7e88;
  display: block;
  font-size: 0;
  height: 40px;
  line-height: 38px;
  padding: 0 40px 0 15px;
  position: relative;
}
/* line 31, ../scss/mypage.scss */
.pull-down > a .option-selected {
  font-size: 14px;
  display: block;
}
/* line 36, ../scss/mypage.scss */
.pull-down > a .keepo-icon {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 0;
}
/* line 44, ../scss/mypage.scss */
.pull-down .option {
  border: 1px solid #dadade;
  background: #fff;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 50px;
  width: 100%;
}
/* line 53, ../scss/mypage.scss */
.pull-down .option ul {
  padding: 3px 0 10px;
}
/* line 58, ../scss/mypage.scss */
.pull-down .option ul li a {
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  color: #7d7e88;
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
}
/* line 66, ../scss/mypage.scss */
.pull-down .option ul li a:hover {
  background: #00bac6;
  color: #fff;
}

/* line 85, ../scss/mypage.scss */
.left-navi {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #333437;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  position: fixed;
  top: 60px;
  width: 170px;
}

/* line 99, ../scss/mypage.scss */
.left-navi ul li {
  margin-top: 15px;
  position: relative;
}
/* line 103, ../scss/mypage.scss */
.left-navi ul li:first-child {
  margin-top: 0;
}
/* line 109, ../scss/mypage.scss */
.left-navi ul li:hover a, .left-navi ul li.active a {
  background: #212121;
}
/* line 112, ../scss/mypage.scss */
.left-navi ul li:hover a span, .left-navi ul li.active a span {
  color: #00bac6;
}
/* line 118, ../scss/mypage.scss */
.left-navi ul li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  color: #7d7e88;
  display: block;
  font-size: 0;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
}
/* line 128, ../scss/mypage.scss */
.left-navi ul li a i, .left-navi ul li a span {
  display: inline-block;
  vertical-align: middle;
}
/* line 133, ../scss/mypage.scss */
.left-navi ul li a i {
  color: #fff;
  font-size: 20px;
}
/* line 137, ../scss/mypage.scss */
.left-navi ul li a i::before {
  margin: 0 10px;
}
/* line 141, ../scss/mypage.scss */
.left-navi ul li a i.icon-my-draft {
  font-size: 18px;
}
/* line 146, ../scss/mypage.scss */
.left-navi ul li a span {
  font-size: 12px;
  text-transform: uppercase;
}
/* line 152, ../scss/mypage.scss */
.left-navi ul li .notif-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #f53400;
  display: none;
  height: 6px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 6px;
}
/* line 167, ../scss/mypage.scss */
.left-navi ul li.notif-on .notif-icon {
  display: block;
}

/* line 183, ../scss/mypage.scss */
.mypage-content {
  -moz-transition: padding 0.2s ease;
  -o-transition: padding 0.2s ease;
  -webkit-transition: padding 0.2s ease;
  transition: padding 0.2s ease;
  min-height: 800px;
  width: 728px;
}

/* line 196, ../scss/mypage.scss */
.my-issues .adv,
.my-draft .adv {
  margin-bottom: 20px;
}
/* line 200, ../scss/mypage.scss */
.my-issues .search-issues,
.my-draft .search-issues {
  border-bottom: 1px solid #dadade;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
/* line 205, ../scss/mypage.scss */
.my-issues .search-issues > div,
.my-draft .search-issues > div {
  margin-top: 15px;
}
/* line 208, ../scss/mypage.scss */
.my-issues .search-issues > div:first-child,
.my-draft .search-issues > div:first-child {
  margin-top: 0;
}
/* line 216, ../scss/mypage.scss */
.my-issues .filter-box > div,
.my-draft .filter-box > div {
  color: #7d7e88;
  padding-left: 20px;
  width: auto;
}
/* line 221, ../scss/mypage.scss */
.my-issues .filter-box > div:first-child,
.my-draft .filter-box > div:first-child {
  padding-left: 0;
}
/* line 226, ../scss/mypage.scss */
.my-issues .filter-box .pull-down,
.my-draft .filter-box .pull-down {
  padding-bottom: 4px;
  z-index: 2;
}
/* line 230, ../scss/mypage.scss */
.my-issues .filter-box .pull-down > a,
.my-draft .filter-box .pull-down > a {
  -moz-box-shadow: 0px 3px 0px 0px #eaeaea, 0px 4px 0px 0px #dadade;
  -webkit-box-shadow: 0px 3px 0px 0px #eaeaea, 0px 4px 0px 0px #dadade;
  box-shadow: 0px 3px 0px 0px #eaeaea, 0px 4px 0px 0px #dadade;
  padding: 0 40px 0 20px;
}
/* line 237, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option li a,
.my-draft .filter-box .pull-down .option li a {
  padding: 0 20px;
}
/* line 241, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom,
.my-draft .filter-box .pull-down .option .custom {
  border-top: 1px solid #dadade;
  padding: 30px 15px 24px;
}
/* line 245, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom .label,
.my-draft .filter-box .pull-down .option .custom .label {
  margin: 0 0 12px;
}
/* line 249, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom .input-box,
.my-draft .filter-box .pull-down .option .custom .input-box {
  font-size: 0;
  margin-bottom: 14px;
}
/* line 253, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom .input-box input[type="text"],
.my-issues .filter-box .pull-down .option .custom .input-box span,
.my-draft .filter-box .pull-down .option .custom .input-box input[type="text"],
.my-draft .filter-box .pull-down .option .custom .input-box span {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
/* line 260, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom .input-box input[type="text"],
.my-draft .filter-box .pull-down .option .custom .input-box input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333437;
  border: 1px solid #dadade;
  height: 40px;
  padding: 0 10px;
  width: 100px;
}
/* line 61, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .filter-box .pull-down .option .custom .input-box input[type="text"]:-moz-placeholder,
.my-draft .filter-box .pull-down .option .custom .input-box input[type="text"]:-moz-placeholder {
  color: #c2c2c7;
}
/* line 64, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .filter-box .pull-down .option .custom .input-box input[type="text"]::-moz-placeholder,
.my-draft .filter-box .pull-down .option .custom .input-box input[type="text"]::-moz-placeholder {
  color: #c2c2c7;
}
/* line 67, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .filter-box .pull-down .option .custom .input-box input[type="text"]:-ms-input-placeholder,
.my-draft .filter-box .pull-down .option .custom .input-box input[type="text"]:-ms-input-placeholder {
  color: #c2c2c7;
}
/* line 56, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .filter-box .pull-down .option .custom .input-box input[type="text"]::-webkit-input-placeholder,
.my-draft .filter-box .pull-down .option .custom .input-box input[type="text"]::-webkit-input-placeholder {
  color: #c2c2c7;
}
/* line 269, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom .input-box input[type="text"]:focus,
.my-draft .filter-box .pull-down .option .custom .input-box input[type="text"]:focus {
  outline: none;
}
/* line 274, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom .input-box span,
.my-draft .filter-box .pull-down .option .custom .input-box span {
  text-align: center;
  width: 23px;
}
/* line 282, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom .submit-btn a,
.my-draft .filter-box .pull-down .option .custom .submit-btn a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  background: #fff;
  border: 1px solid #00bac6;
  color: #00bac6;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}
/* line 295, ../scss/mypage.scss */
.my-issues .filter-box .pull-down .option .custom .submit-btn a:hover,
.my-draft .filter-box .pull-down .option .custom .submit-btn a:hover {
  background: #00bac6;
  color: #fff;
}
/* line 305, ../scss/mypage.scss */
.my-issues .filter-box .check-box,
.my-draft .filter-box .check-box {
  vertical-align: middle;
}
/* line 308, ../scss/mypage.scss */
.my-issues .filter-box .check-box li,
.my-draft .filter-box .check-box li {
  margin-top: 5px;
  line-height: 18px;
}
/* line 312, ../scss/mypage.scss */
.my-issues .filter-box .check-box li:first-child,
.my-draft .filter-box .check-box li:first-child {
  margin-top: 0;
}
/* line 316, ../scss/mypage.scss */
.my-issues .filter-box .check-box li i,
.my-draft .filter-box .check-box li i {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #dadade;
  color: #fff;
  height: 18px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  width: 18px;
}
/* line 327, ../scss/mypage.scss */
.my-issues .filter-box .check-box li i::before,
.my-draft .filter-box .check-box li i::before {
  margin: 0;
}
/* line 331, ../scss/mypage.scss */
.my-issues .filter-box .check-box li i.icon-check,
.my-draft .filter-box .check-box li i.icon-check {
  background: #00bac6;
  border-color: #00bac6;
}
/* line 337, ../scss/mypage.scss */
.my-issues .filter-box .check-box li i, .my-issues .filter-box .check-box li span,
.my-draft .filter-box .check-box li i,
.my-draft .filter-box .check-box li span {
  display: inline-block;
  vertical-align: middle;
}
/* line 342, ../scss/mypage.scss */
.my-issues .filter-box .check-box li span,
.my-draft .filter-box .check-box li span {
  color: #7d7e88;
  font-size: 14px;
  margin-left: 8px;
}
/* line 353, ../scss/mypage.scss */
.my-issues .search input[type="text"],
.my-draft .search input[type="text"] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dadade;
  color: #333437;
  font-size: 14px;
  height: 40px;
  padding: 0 20px;
  width: 100%;
}
/* line 61, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .search input[type="text"]:-moz-placeholder,
.my-draft .search input[type="text"]:-moz-placeholder {
  color: #c2c2c7;
}
/* line 64, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .search input[type="text"]::-moz-placeholder,
.my-draft .search input[type="text"]::-moz-placeholder {
  color: #c2c2c7;
}
/* line 67, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .search input[type="text"]:-ms-input-placeholder,
.my-draft .search input[type="text"]:-ms-input-placeholder {
  color: #c2c2c7;
}
/* line 56, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .search input[type="text"]::-webkit-input-placeholder,
.my-draft .search input[type="text"]::-webkit-input-placeholder {
  color: #c2c2c7;
}
/* line 365, ../scss/mypage.scss */
.my-issues .search input[type="text"]:focus,
.my-draft .search input[type="text"]:focus {
  outline: none;
}
/* line 371, ../scss/mypage.scss */
.my-issues .issues-pagination,
.my-draft .issues-pagination {
  margin-top: 30px;
}
/* line 374, ../scss/mypage.scss */
.my-issues .issues-pagination ul,
.my-draft .issues-pagination ul {
  text-align: right;
  font-size: 0;
}
/* line 378, ../scss/mypage.scss */
.my-issues .issues-pagination ul li,
.my-draft .issues-pagination ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #dadade;
  color: #7d7e88;
  display: inline-block;
  *display: inline;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  margin: 0 3px;
  overflow: hidden;
  zoom: 1;
}
/* line 393, ../scss/mypage.scss */
.my-issues .issues-pagination ul li a,
.my-draft .issues-pagination ul li a {
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  color: #7d7e88;
  display: block;
  height: 30px;
}
/* line 399, ../scss/mypage.scss */
.my-issues .issues-pagination ul li a:hover,
.my-draft .issues-pagination ul li a:hover {
  background: #7d7e88;
  color: #fff;
}
/* line 405, ../scss/mypage.scss */
.my-issues .issues-pagination ul li.active, .my-issues .issues-pagination ul li a,
.my-draft .issues-pagination ul li.active,
.my-draft .issues-pagination ul li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
}
/* line 410, ../scss/mypage.scss */
.my-issues .issues-pagination ul li.active,
.my-draft .issues-pagination ul li.active {
  background: #f7f7f7;
}
/* line 414, ../scss/mypage.scss */
.my-issues .issues-pagination ul li.ellipsis,
.my-draft .issues-pagination ul li.ellipsis {
  border-color: #f7f7f7;
  background: transparent;
  padding: 0 3px;
}
/* line 420, ../scss/mypage.scss */
.my-issues .issues-pagination ul li.arrow a,
.my-draft .issues-pagination ul li.arrow a {
  padding: 0 5px;
}
/* line 424, ../scss/mypage.scss */
.my-issues .issues-pagination ul li .keepo-icon,
.my-draft .issues-pagination ul li .keepo-icon {
  font-size: 18px;
}
/* line 431, ../scss/mypage.scss */
.my-issues .issues-list,
.my-draft .issues-list {
  z-index: 1;
}
/* line 434, ../scss/mypage.scss */
.my-issues .issues-list .total-issues,
.my-draft .issues-list .total-issues {
  margin-bottom: 10px;
}
/* line 437, ../scss/mypage.scss */
.my-issues .issues-list .total-issues p,
.my-draft .issues-list .total-issues p {
  color: #333437;
  font-size: 18px;
  margin: 0;
}
/* line 444, ../scss/mypage.scss */
.my-issues .issues-list ul,
.my-draft .issues-list ul {
  border-bottom: 1px solid #dadade;
}
/* line 447, ../scss/mypage.scss */
.my-issues .issues-list ul li,
.my-draft .issues-list ul li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #fff;
}
/* line 452, ../scss/mypage.scss */
.my-issues .issues-list ul li .cell,
.my-draft .issues-list ul li .cell {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #dadade;
  border-style: solid;
  border-width: 1px 1px 0 0;
  float: left;
  height: 100%;
  padding: 10px;
  min-height: 30px;
}
/* line 463, ../scss/mypage.scss */
.my-issues .issues-list ul li .issues-preview,
.my-draft .issues-list ul li .issues-preview {
  border-left: 1px solid #dadade;
}
/* line 467, ../scss/mypage.scss */
.my-issues .issues-list ul li .issues-action,
.my-draft .issues-list ul li .issues-action {
  width: 62px;
}
/* line 473, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview,
.my-draft .issues-list .issues-preview {
  overflow: hidden;
  *zoom: 1;
}
/* line 476, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .img-box,
.my-draft .issues-list .issues-preview .img-box {
  float: left;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 130px;
}
/* line 483, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .img-box img,
.my-draft .issues-list .issues-preview .img-box img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 100px;
  min-width: 130px;
  position: relative;
  top: 50%;
}
/* line 496, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .text-box .issues-title,
.my-draft .issues-list .issues-preview .text-box .issues-title {
  color: #333437;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
/* line 504, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .text-box .issues-title a,
.my-draft .issues-list .issues-preview .text-box .issues-title a {
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #333437;
}
/* line 508, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .text-box .issues-title a:hover,
.my-draft .issues-list .issues-preview .text-box .issues-title a:hover {
  color: #4773ff;
}
/* line 518, ../scss/mypage.scss */
.my-issues .issues-list .issues-action a,
.my-draft .issues-list .issues-action a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  border: 1px solid #333437;
  background: #fff;
  color: #333437;
  display: block;
  height: 42px;
  position: relative;
  width: 42px;
}
/* line 530, ../scss/mypage.scss */
.my-issues .issues-list .issues-action a:hover,
.my-draft .issues-list .issues-action a:hover {
  background: #333437;
  color: #fff;
}
/* line 535, ../scss/mypage.scss */
.my-issues .issues-list .issues-action a.delete,
.my-draft .issues-list .issues-action a.delete {
  border: 1px solid #9c9eac;
  color: #9c9eac;
}
/* line 539, ../scss/mypage.scss */
.my-issues .issues-list .issues-action a.delete:hover,
.my-draft .issues-list .issues-action a.delete:hover {
  background: #9c9eac;
  color: #fff;
}
/* line 546, ../scss/mypage.scss */
.my-issues .issues-list .issues-action .keepo-icon,
.my-draft .issues-list .issues-action .keepo-icon {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  left: 50%;
  line-height: 1;
  position: absolute;
  top: 50%;
}

/* line 569, ../scss/mypage.scss */
.my-issues .filter-box {
  display: table;
  width: 100%;
}
/* line 573, ../scss/mypage.scss */
.my-issues .filter-box > div {
  display: table-cell;
}
/* line 577, ../scss/mypage.scss */
.my-issues .filter-box .pull-down {
  width: 254px;
}
/* line 581, ../scss/mypage.scss */
.my-issues .filter-box .check-box {
  vertical-align: middle;
}
/* line 584, ../scss/mypage.scss */
.my-issues .filter-box .check-box li {
  margin-top: 5px;
  line-height: 18px;
}
/* line 588, ../scss/mypage.scss */
.my-issues .filter-box .check-box li:first-child {
  margin-top: 0;
}
/* line 592, ../scss/mypage.scss */
.my-issues .filter-box .check-box li i {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #dadade;
  color: #fff;
  height: 18px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  width: 18px;
}
/* line 603, ../scss/mypage.scss */
.my-issues .filter-box .check-box li i::before {
  margin: 0;
}
/* line 607, ../scss/mypage.scss */
.my-issues .filter-box .check-box li i.icon-check {
  background: #00bac6;
  border-color: #00bac6;
}
/* line 613, ../scss/mypage.scss */
.my-issues .filter-box .check-box li i, .my-issues .filter-box .check-box li span {
  display: inline-block;
  vertical-align: middle;
}
/* line 618, ../scss/mypage.scss */
.my-issues .filter-box .check-box li span {
  color: #7d7e88;
  font-size: 14px;
  margin-left: 8px;
}
/* line 629, ../scss/mypage.scss */
.my-issues .search input[type="text"] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dadade;
  color: #333437;
  font-size: 14px;
  height: 40px;
  padding: 0 20px;
  width: 100%;
}
/* line 61, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .search input[type="text"]:-moz-placeholder {
  color: #c2c2c7;
}
/* line 64, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .search input[type="text"]::-moz-placeholder {
  color: #c2c2c7;
}
/* line 67, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .search input[type="text"]:-ms-input-placeholder {
  color: #c2c2c7;
}
/* line 56, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.my-issues .search input[type="text"]::-webkit-input-placeholder {
  color: #c2c2c7;
}
/* line 641, ../scss/mypage.scss */
.my-issues .search input[type="text"]:focus {
  outline: none;
}
/* line 649, ../scss/mypage.scss */
.my-issues .issues-list ul {
  border-bottom: 1px solid #dadade;
}
/* line 652, ../scss/mypage.scss */
.my-issues .issues-list ul li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #fff;
}
/* line 657, ../scss/mypage.scss */
.my-issues .issues-list ul li.unpublished {
  background: #ffede9;
}
/* line 661, ../scss/mypage.scss */
.my-issues .issues-list ul li .description {
  border-color: #dadade;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  color: #333437;
  padding: 15px 10px;
  width: 100%;
}
/* line 669, ../scss/mypage.scss */
.my-issues .issues-list ul li .description p {
  margin: 0;
}
/* line 672, ../scss/mypage.scss */
.my-issues .issues-list ul li .description p.label {
  font-weight: 600;
  margin-bottom: 5px;
}
/* line 677, ../scss/mypage.scss */
.my-issues .issues-list ul li .description p a {
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #333437;
}
/* line 681, ../scss/mypage.scss */
.my-issues .issues-list ul li .description p a:hover {
  color: #00bac6;
}
/* line 688, ../scss/mypage.scss */
.my-issues .issues-list ul li .issues-views,
.my-issues .issues-list ul li .issues-shares,
.my-issues .issues-list ul li .issues-responses,
.my-issues .issues-list ul li .issues-action {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}
/* line 697, ../scss/mypage.scss */
.my-issues .issues-list ul li .issues-views p,
.my-issues .issues-list ul li .issues-shares p,
.my-issues .issues-list ul li .issues-responses p,
.my-issues .issues-list ul li .issues-action p {
  color: #333437;
  font-size: 14px;
  margin: 5px 0 0;
}
/* line 702, ../scss/mypage.scss */
.my-issues .issues-list ul li .issues-views p:first-child,
.my-issues .issues-list ul li .issues-shares p:first-child,
.my-issues .issues-list ul li .issues-responses p:first-child,
.my-issues .issues-list ul li .issues-action p:first-child {
  margin-top: 0;
}
/* line 706, ../scss/mypage.scss */
.my-issues .issues-list ul li .issues-views p.label,
.my-issues .issues-list ul li .issues-shares p.label,
.my-issues .issues-list ul li .issues-responses p.label,
.my-issues .issues-list ul li .issues-action p.label {
  color: #9c9eac;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 714, ../scss/mypage.scss */
.my-issues .issues-list ul li .issues-views,
.my-issues .issues-list ul li .issues-shares,
.my-issues .issues-list ul li .issues-responses {
  width: 80px;
}
/* line 722, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview {
  width: 426px;
}
/* line 725, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .text-box {
  margin: 5px 0 5px 145px;
}
/* line 728, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .text-box header {
  font-size: 0;
}
/* line 731, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .text-box header span {
  display: block;
}
/* line 737, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .label,
.my-issues .issues-list .issues-preview .date {
  margin-bottom: 5px;
  text-transform: uppercase;
}
/* line 743, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .label {
  color: #ff6600;
  font-size: 10px;
}
/* line 748, ../scss/mypage.scss */
.my-issues .issues-list .issues-preview .date {
  color: #9c9eac;
  font-size: 12px;
}

/* line 767, ../scss/mypage.scss */
.my-draft .search-issues {
  display: table;
  width: 100%;
}
/* line 771, ../scss/mypage.scss */
.my-draft .search-issues > div {
  display: table-cell;
  padding-left: 20px;
  width: auto;
}
/* line 776, ../scss/mypage.scss */
.my-draft .search-issues > div:first-child {
  padding-left: 0;
}
/* line 780, ../scss/mypage.scss */
.my-draft .search-issues > div.filter-box {
  width: 254px;
}
/* line 788, ../scss/mypage.scss */
.my-draft .filter-box > div {
  color: #7d7e88;
  padding-left: 20px;
  width: auto;
}
/* line 793, ../scss/mypage.scss */
.my-draft .filter-box > div:first-child {
  padding-left: 0;
}
/* line 801, ../scss/mypage.scss */
.my-draft .issues-list .issues-action {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 806, ../scss/mypage.scss */
.my-draft .issues-list .issues-action p {
  color: #333437;
  font-size: 14px;
  margin: 5px 0 0;
}
/* line 811, ../scss/mypage.scss */
.my-draft .issues-list .issues-action p:first-child {
  margin-top: 0;
}
/* line 815, ../scss/mypage.scss */
.my-draft .issues-list .issues-action p.label {
  color: #9c9eac;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 823, ../scss/mypage.scss */
.my-draft .issues-list .issues-preview {
  width: 666px;
}
/* line 826, ../scss/mypage.scss */
.my-draft .issues-list .issues-preview .text-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 5px 0 5px 145px;
  height: 100%;
  width: 100%;
}
/* line 833, ../scss/mypage.scss */
.my-draft .issues-list .issues-preview .text-box article {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
/* line 841, ../scss/mypage.scss */
.my-draft .issues-list .issues-action {
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 858, ../scss/mypage.scss */
.settings .setting-content {
  margin-top: 50px;
}
/* line 861, ../scss/mypage.scss */
.settings .setting-content:first-child {
  margin-top: 0;
}
/* line 865, ../scss/mypage.scss */
.settings .setting-content .title {
  background: #333437;
  color: #fff;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 25px;
  padding: 0 15px;
}
/* line 881, ../scss/mypage.scss */
.settings .form-box .note p {
  color: #7d7e88;
  font-size: 14px;
  margin: 0;
}
/* line 890, ../scss/mypage.scss */
.settings .form-box form .input-area {
  overflow: hidden;
  *zoom: 1;
}
/* line 894, ../scss/mypage.scss */
.settings .form-box form .input-box {
  float: left;
  width: 528px;
}
/* line 899, ../scss/mypage.scss */
.settings .form-box form .upload-photo {
  padding-left: 578px;
}
/* line 905, ../scss/mypage.scss */
.settings .form-box form .button-area ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 200px;
}
/* line 914, ../scss/mypage.scss */
.settings .form-box .input-box .label {
  color: #333437;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 922, ../scss/mypage.scss */
.settings .form-box .input-box input,
.settings .form-box .input-box textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dadade;
  font-size: 14px;
  width: 100%;
}
/* line 61, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.settings .form-box .input-box input:-moz-placeholder,
.settings .form-box .input-box textarea:-moz-placeholder {
  color: #c2c2c7;
}
/* line 64, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.settings .form-box .input-box input::-moz-placeholder,
.settings .form-box .input-box textarea::-moz-placeholder {
  color: #c2c2c7;
}
/* line 67, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.settings .form-box .input-box input:-ms-input-placeholder,
.settings .form-box .input-box textarea:-ms-input-placeholder {
  color: #c2c2c7;
}
/* line 56, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.settings .form-box .input-box input::-webkit-input-placeholder,
.settings .form-box .input-box textarea::-webkit-input-placeholder {
  color: #c2c2c7;
}
/* line 931, ../scss/mypage.scss */
.settings .form-box .input-box input:focus,
.settings .form-box .input-box textarea:focus {
  outline: none;
}
/* line 936, ../scss/mypage.scss */
.settings .form-box .input-box input[type="text"],
.settings .form-box .input-box input[type="password"] {
  color: #333437;
  height: 40px;
  padding: 0 15px;
}
/* line 942, ../scss/mypage.scss */
.settings .form-box .input-box input[type="text"]:disabled,
.settings .form-box .input-box input[type="password"]:disabled {
  background: #fff;
  color: #c2c2c7;
}
/* line 948, ../scss/mypage.scss */
.settings .form-box .input-box textarea {
  height: 114px;
  padding: 15px;
  resize: none;
}
/* line 954, ../scss/mypage.scss */
.settings .form-box .input-box > div[class^="input"] {
  margin-top: 15px;
}
/* line 957, ../scss/mypage.scss */
.settings .form-box .input-box > div[class^="input"]:first-child {
  margin-top: 0;
}
/* line 963, ../scss/mypage.scss */
.settings .form-box .input-box > div[class^="input"].double-input::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
/* line 972, ../scss/mypage.scss */
.settings .form-box .input-box > div[class^="input"].double-input > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 14px 0 0;
  width: 50%;
}
/* line 978, ../scss/mypage.scss */
.settings .form-box .input-box > div[class^="input"].double-input > div:nth-child(even) {
  padding: 0 0 0 14px;
}
/* line 987, ../scss/mypage.scss */
.settings .form-box .input-box .error input,
.settings .form-box .input-box .error textarea {
  border: 1px solid #f53400;
}
/* line 993, ../scss/mypage.scss */
.settings .form-box .input-box .input-new-password {
  margin-bottom: 10px;
}
/* line 1002, ../scss/mypage.scss */
.settings .form-box .upload-photo .photo a {
  -webkit-align-items: center;
  align-items: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  border: 2px dashed #c2c2c7;
  color: #7d7e88;
  font-size: 14px;
  height: 150px;
  width: 150px;
}
/* line 1017, ../scss/mypage.scss */
.settings .form-box .upload-photo .photo .keepo-icon {
  font-size: 30px;
  margin-bottom: 5px;
}
/* line 1023, ../scss/mypage.scss */
.settings .form-box .upload-photo .button {
  margin-top: 20px;
}
/* line 1026, ../scss/mypage.scss */
.settings .form-box .upload-photo .button a {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #9c9eac;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
/* line 1042, ../scss/mypage.scss */
.settings .button-area {
  margin-top: 40px;
}
/* line 1045, ../scss/mypage.scss */
.settings .button-area ul {
  font-size: 0;
}
/* line 1048, ../scss/mypage.scss */
.settings .button-area ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}
/* line 1053, ../scss/mypage.scss */
.settings .button-area ul li:nth-child(2n+1) {
  padding: 0 14px 0 0;
}
/* line 1057, ../scss/mypage.scss */
.settings .button-area ul li:nth-child(2n+2) {
  padding: 0 0 0 14px;
}
/* line 1064, ../scss/mypage.scss */
.settings .button-area button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 0px 0px #7d7e88;
  -webkit-box-shadow: 0px 2px 0px 0px #7d7e88;
  box-shadow: 0px 2px 0px 0px #7d7e88;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  background: #9c9eac;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  text-transform: uppercase;
  width: 100%;
}
/* line 1077, ../scss/mypage.scss */
.settings .button-area button:focus {
  outline: none;
}
/* line 1081, ../scss/mypage.scss */
.settings .button-area button:hover {
  background: #7d7e88;
}
/* line 1085, ../scss/mypage.scss */
.settings .button-area button:nth-child(n+3) {
  margin-top: 15px;
}
/* line 1089, ../scss/mypage.scss */
.settings .button-area button[type="submit"] {
  -moz-box-shadow: 0px 2px 0px 0px #099ca5;
  -webkit-box-shadow: 0px 2px 0px 0px #099ca5;
  box-shadow: 0px 2px 0px 0px #099ca5;
  background: #00bac6;
}
/* line 1093, ../scss/mypage.scss */
.settings .button-area button[type="submit"]:hover {
  background: #099ca5;
}

@media only screen and (max-width: 1280px) {
  /* line 1117, ../scss/mypage.scss */
  .mypage-content {
    padding-left: 170px;
  }
}
