@charset "UTF-8";
/* color code */
/* color code */
/* line 17, ../scss/_post-editor-default.scss */
[ng-cloak] {
  display: none;
}

/* line 19, ../scss/_post-editor-default.scss */
.editor-wrapper {
  margin: 40px auto 0;
  width: 900px;
}

/* line 24, ../scss/_post-editor-default.scss */
.editor-container {
  padding-bottom: 100px;
}
/* line 27, ../scss/_post-editor-default.scss */
.editor-container [contenteditable],
.editor-container input:focus {
  outline: none;
}

/* line 31, ../scss/_post-editor-default.scss */
.editor-top {
  color: #c2c1c6;
  margin: 0 0 20px;
}
/* line 35, ../scss/_post-editor-default.scss */
.editor-top h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

/* line 42, ../scss/_post-editor-default.scss */
.editor-bottom {
  background-color: #fff;
  -moz-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 45px;
  padding: 15px 45px;
  text-align: right;
  z-index: 3;
}
/* line 55, ../scss/_post-editor-default.scss */
.editor-bottom span {
  margin-right: 15px;
}
/* line 57, ../scss/_post-editor-default.scss */
.editor-bottom .keepo-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: inherit;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 14px;
  width: 150px;
}

/* line 70, ../scss/_post-editor-default.scss */
.main-container {
  position: relative;
}
/* line 74, ../scss/_post-editor-default.scss */
.main-container.on-progress .editor-loading {
  display: block;
}
/* line 75, ../scss/_post-editor-default.scss */
.main-container.on-progress .editor-bottom {
  cursor: progress;
}
/* line 77, ../scss/_post-editor-default.scss */
.main-container.on-progress .editor-bottom .keepo-btn {
  cursor: progress;
}

/* line 82, ../scss/_post-editor-default.scss */
.editor-loading {
  display: none;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: progress;
  position: fixed;
  top: -40px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
/* line 1, ../scss/_editor-loading-status.scss */
.editor-loading .overlay-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
/* line 10, ../scss/_editor-loading-status.scss */
.editor-loading .overlay-loader .loader-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00bac6;
  -webkit-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -moz-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -ms-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -o-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  transition: background-color .2s 0s linear,right .2s .3s ease-out;
}
/* line 24, ../scss/_editor-loading-status.scss */
.editor-loading .overlay-loader .loader-background.color-flip {
  -webkit-animation: color-flip 6.5s .6s infinite linear;
  -moz-animation: color-flip 6.5s .6s infinite linear;
  -ms-animation: color-flip 6.5s .6s infinite linear;
  -o-animation: color-flip 6.5s .6s infinite linear;
  animation: color-flip 6.5s .6s infinite linear;
}
@-webkit-keyframes color-flip {
  0% {
    background-color: #00bac6;
  }
  18% {
    background-color: #00bac6;
  }
  20% {
    background-color: #3468af;
  }
  38% {
    background-color: #3468af;
  }
  40% {
    background-color: #ffa200;
  }
  58% {
    background-color: #ffa200;
  }
  60% {
    background-color: #00df83;
  }
  78% {
    background-color: #00df83;
  }
  80% {
    background-color: #ff5b2f;
  }
  98% {
    background-color: #ff5b2f;
  }
  100% {
    background-color: #00bac6;
  }
}
@-moz-keyframes color-flip {
  0% {
    background-color: #00bac6;
  }
  18% {
    background-color: #00bac6;
  }
  20% {
    background-color: #3468af;
  }
  38% {
    background-color: #3468af;
  }
  40% {
    background-color: #ffa200;
  }
  58% {
    background-color: #ffa200;
  }
  60% {
    background-color: #00df83;
  }
  78% {
    background-color: #00df83;
  }
  80% {
    background-color: #ff5b2f;
  }
  98% {
    background-color: #ff5b2f;
  }
  100% {
    background-color: #00bac6;
  }
}
@-o-keyframes color-flip {
  0% {
    background-color: #00bac6;
  }
  18% {
    background-color: #00bac6;
  }
  20% {
    background-color: #3468af;
  }
  38% {
    background-color: #3468af;
  }
  40% {
    background-color: #ffa200;
  }
  58% {
    background-color: #ffa200;
  }
  60% {
    background-color: #00df83;
  }
  78% {
    background-color: #00df83;
  }
  80% {
    background-color: #ff5b2f;
  }
  98% {
    background-color: #ff5b2f;
  }
  100% {
    background-color: #00bac6;
  }
}
@keyframes color-flip {
  0% {
    background-color: #00bac6;
  }
  18% {
    background-color: #00bac6;
  }
  20% {
    background-color: #3468af;
  }
  38% {
    background-color: #3468af;
  }
  40% {
    background-color: #ffa200;
  }
  58% {
    background-color: #ffa200;
  }
  60% {
    background-color: #00df83;
  }
  78% {
    background-color: #00df83;
  }
  80% {
    background-color: #ff5b2f;
  }
  98% {
    background-color: #ff5b2f;
  }
  100% {
    background-color: #00bac6;
  }
}
/* line 88, ../scss/_editor-loading-status.scss */
.editor-loading .overlay-loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -48px 0 0 -48px;
  font-size: 96px;
  color: #FFF;
  height: 100px;
  width: 100px;
}
/* line 99, ../scss/_editor-loading-status.scss */
.editor-loading .overlay-loader .loader-icon.spinning-cog {
  -webkit-animation: spinning-cog 1.3s infinite ease;
  -moz-animation: spinning-cog 1.3s infinite ease;
  -ms-animation: spinning-cog 1.3s infinite ease;
  -o-animation: spinning-cog 1.3s infinite ease;
  animation: spinning-cog 1.3s infinite ease;
}
@-webkit-keyframes spinning-cog {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinning-cog {
  0% {
    -moz-transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spinning-cog {
  0% {
    -o-transform: rotate(0deg);
  }
  20% {
    -o-transform: rotate(-45deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spinning-cog {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes shrinking-cog {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
  }
}
@-moz-keyframes shrinking-cog {
  0% {
    -moz-transform: scale(1);
  }
  20% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(0);
  }
}
@-o-keyframes shrinking-cog {
  0% {
    -o-transform: scale(1);
  }
  20% {
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(0);
  }
}
@keyframes shrinking-cog {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
/* line 155, ../scss/_editor-loading-status.scss */
.editor-loading .overlay-loader .loader-icon.shrinking-cog {
  -webkit-animation: shrinking-cog .3s 1 ease forwards;
  -moz-animation: shrinking-cog .3s 1 ease forwards;
  -ms-animation: shrinking-cog .3s 1 ease forwards;
  -o-animation: shrinking-cog .3s 1 ease forwards;
  animation: shrinking-cog .3s 1 ease forwards;
}

/* line 96, ../scss/_post-editor-default.scss */
.editor-message-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}
/* line 104, ../scss/_post-editor-default.scss */
.editor-message-wrapper::before {
  background-color: rgba(255, 255, 255, 0.75);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 114, ../scss/_post-editor-default.scss */
.editor-message-wrapper .editor-message {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: 600px;
}
/* line 125, ../scss/_post-editor-default.scss */
.editor-message-wrapper .editor-message header {
  background-color: #333437;
  color: #fff;
  font-size: 16px;
  padding: 0 50px 0 20px;
  height: 40px;
  line-height: 40px;
  position: relative;
}
/* line 134, ../scss/_post-editor-default.scss */
.editor-message-wrapper .editor-message header a {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 145, ../scss/_post-editor-default.scss */
.editor-message-wrapper .editor-message .editor-message-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dadade;
  border-top-width: 0px;
  padding: 20px;
  font-size: 16px;
  line-height: 1.6em;
  color: #434343;
}
/* line 154, ../scss/_post-editor-default.scss */
.editor-message-wrapper .editor-message .editor-message-container p:first-child {
  margin-top: 0;
}
/* line 155, ../scss/_post-editor-default.scss */
.editor-message-wrapper .editor-message .editor-message-container p:last-child {
  margin-bottom: 0;
}
/* line 158, ../scss/_post-editor-default.scss */
.editor-message-wrapper .editor-message .editor-message-moderation {
  background: url('images/editor-icons/pak-lurah.jpg?1472143917') 25px 100% no-repeat;
  padding: 40px 30px 25px 190px;
  min-height: 300px;
}
/* line 164, ../scss/_post-editor-default.scss */
.editor-message-wrapper .editor-message .keepo-btn {
  line-height: 2.2em;
  text-transform: uppercase;
}

/* line 183, ../scss/_post-editor-default.scss */
.fileupload-pool {
  border: 1px solid #c2c2c7;
  background-color: #eaeaea;
  height: 130px;
  position: relative;
}
/* line 189, ../scss/_post-editor-default.scss */
.fileupload-pool[droppable].over {
  border-color: #333437;
}
/* line 193, ../scss/_post-editor-default.scss */
.fileupload-pool .helper {
  color: #9c9eac;
  height: 100%;
  position: absolute;
  width: 100%;
}
/* line 201, ../scss/_post-editor-default.scss */
.fileupload-pool .helper_text, .fileupload-pool .uploading {
  text-align: center;
}
/* line 206, ../scss/_post-editor-default.scss */
.fileupload-pool .helper_text i.icon-photo, .fileupload-pool .helper_text span, .fileupload-pool .uploading i.icon-photo, .fileupload-pool .uploading span {
  display: block;
}
/* line 207, ../scss/_post-editor-default.scss */
.fileupload-pool .helper_text i.icon-photo, .fileupload-pool .uploading i.icon-photo {
  font-size: 46px;
  margin: 0 auto 20px;
}
/* line 213, ../scss/_post-editor-default.scss */
.fileupload-pool .from_url {
  top: 50%;
  left: 50%;
  position: absolute;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}
/* line 221, ../scss/_post-editor-default.scss */
.fileupload-pool .from_url input[type=text] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 10px 120px 10px 20px;
  width: 100%;
}
/* line 228, ../scss/_post-editor-default.scss */
.fileupload-pool .from_url a.get-image {
  cursor: pointer;
  top: 0px;
  right: 0;
  position: absolute;
  width: 100px;
  height: 100%;
}
/* line 237, ../scss/_post-editor-default.scss */
.fileupload-pool .from_url .furl-icon {
  top: 50% !important;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 242, ../scss/_post-editor-default.scss */
.fileupload-pool .from_url.video-image {
  padding-left: 80px;
}
/* line 243, ../scss/_post-editor-default.scss */
.fileupload-pool .from_url.video {
  padding-left: 40px;
}
/* line 245, ../scss/_post-editor-default.scss */
.fileupload-pool .from_url .i-vi {
  position: absolute;
  font-size: 26px !important;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 252, ../scss/_post-editor-default.scss */
.fileupload-pool .from_url .i-vi:nth-child(2) {
  left: 35px;
}
/* line 256, ../scss/_post-editor-default.scss */
.fileupload-pool .input-file {
  display: none;
}
/* line 260, ../scss/_post-editor-default.scss */
.fileupload-pool.drop {
  border: 2px dashed #c2c2c7;
  height: 185px;
}
/* line 264, ../scss/_post-editor-default.scss */
.fileupload-pool.drop .helper_text, .fileupload-pool.drop .uploading {
  padding-top: 20px;
}
/* line 268, ../scss/_post-editor-default.scss */
.fileupload-pool.drop .from_url {
  top: initial;
  bottom: 20px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 275, ../scss/_post-editor-default.scss */
.fileupload-pool .drop_target {
  background-color: #f7f9fa;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 290, ../scss/_post-editor-default.scss */
.fileupload-pool.on-progress .drop_target, .fileupload-pool.on-progress .helper, .fileupload-pool.on-preview .drop_target, .fileupload-pool.on-preview .helper {
  display: none;
}
/* line 294, ../scss/_post-editor-default.scss */
.fileupload-pool.on-progress .uploading {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 302, ../scss/_post-editor-default.scss */
.fileupload-pool.on-progress .error-close {
  font-size: 16px;
  cursor: pointer;
}
/* line 310, ../scss/_post-editor-default.scss */
.fileupload-pool.on-preview {
  border-color: transparent;
  height: 420px;
}
/* line 315, ../scss/_post-editor-default.scss */
.fileupload-pool .preview {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 323, ../scss/_post-editor-default.scss */
.fileupload-pool .preview img {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 332, ../scss/_post-editor-default.scss */
.fileupload-pool .preview .remove-preview {
  cursor: pointer;
  display: block;
  font-size: 22px;
  color: #fff;
  background-color: #212121;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

/* line 353, ../scss/_post-editor-default.scss */
.editor-body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dadade;
  border-top: none;
  padding: 60px 85px 100px;
}

/* line 361, ../scss/_post-editor-default.scss */
.eb-header,
.eb-article {
  color: #333437;
}

/* line 365, ../scss/_post-editor-default.scss */
.eb-header {
  margin-bottom: 35px;
}
/* line 368, ../scss/_post-editor-default.scss */
.eb-header h1, .eb-header h2 {
  margin: 0;
}
/* line 370, ../scss/_post-editor-default.scss */
.eb-header .eb-title {
  font-size: 54px;
  font-weight: 800;
  min-height: 65px;
}
/* line 376, ../scss/_post-editor-default.scss */
.eb-header .eb-lead {
  margin-top: 35px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: -0.5pt;
  min-height: 44px;
}

/* line 386, ../scss/_post-editor-default.scss */
.eb-article {
  min-height: 35px;
}

/* line 390, ../scss/_post-editor-default.scss */
.eb-footer {
  margin-top: 100px;
}
/* line 393, ../scss/_post-editor-default.scss */
.eb-footer .eb-footer-components {
  color: #9c9eac;
  margin-bottom: 12px;
}
/* line 397, ../scss/_post-editor-default.scss */
.eb-footer .eb-footer-components .components {
  font-size: 14px;
  border: 1px solid #dadade;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 18px;
}
/* line 407, ../scss/_post-editor-default.scss */
.eb-footer .eb-footer-tags input[type=text],
.eb-footer .eb-footer-source input[type=text] {
  background: #f7f7f7;
  width: 100%;
}
/* line 413, ../scss/_post-editor-default.scss */
.eb-footer .eb-footer-category {
  position: relative;
}
/* line 417, ../scss/_post-editor-default.scss */
.eb-footer .eb-footer-category:hover .eb-category-list {
  display: block !important;
}
/* line 421, ../scss/_post-editor-default.scss */
.eb-footer .eb-footer-notice {
  margin-top: 30px;
}
/* line 424, ../scss/_post-editor-default.scss */
.eb-footer .eb-footer-notice p {
  color: #9c9eac;
  font-size: 11px;
  margin: 0;
}
/* line 430, ../scss/_post-editor-default.scss */
.eb-footer .eb-footer-notice a {
  color: #4773ff;
}

/* line 434, ../scss/_post-editor-default.scss */
.eb-category {
  -moz-box-shadow: 0 3px #eaeaea, 0 4px #dadade;
  -webkit-box-shadow: 0 3px #eaeaea, 0 4px #dadade;
  box-shadow: 0 3px #eaeaea, 0 4px #dadade;
  cursor: pointer;
  padding-right: 40px;
  position: relative;
}
/* line 440, ../scss/_post-editor-default.scss */
.eb-category span {
  line-height: 100%;
}
/* line 442, ../scss/_post-editor-default.scss */
.eb-category i {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 16px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 450, ../scss/_post-editor-default.scss */
.eb-category + .eb-category-list {
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  position: absolute;
  border: 1px solid #dadade;
  border-top: none;
  top: 100%;
  width: 100%;
  z-index: 100;
}
/* line 461, ../scss/_post-editor-default.scss */
.eb-category + .eb-category-list li {
  cursor: pointer;
  padding: 10px 18px;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 466, ../scss/_post-editor-default.scss */
.eb-category + .eb-category-list li:hover {
  background-color: #00bac6;
  color: #fff;
}

/* line 476, ../scss/_post-editor-default.scss */
.eb-video {
  margin: 50px 0;
}

/* line 482, ../scss/_post-editor-default.scss */
.title-editor-app {
  position: relative;
}
/* line 485, ../scss/_post-editor-default.scss */
.title-editor-app::before {
  cursor: text;
  color: #c2c2c7;
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-placeholder);
  display: none;
}
/* line 495, ../scss/_post-editor-default.scss */
.title-editor-app.empty-field::before {
  display: block;
}

/* line 500, ../scss/_post-editor-default.scss */
.progressbar {
  overflow: hidden;
  height: 18px;
  margin-bottom: 18px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 520, ../scss/_post-editor-default.scss */
.progressbar .bar {
  width: 0%;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -ms-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/* line 548, ../scss/_post-editor-default.scss */
.progress-striped .bar {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}

/* line 561, ../scss/_post-editor-default.scss */
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

/* line 566, ../scss/_post-editor-default.scss */
.progress-danger .bar {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

/* line 577, ../scss/_post-editor-default.scss */
.progress-danger.progress-striped .bar {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

/* line 586, ../scss/_post-editor-default.scss */
.progress-success .bar {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}

/* line 597, ../scss/_post-editor-default.scss */
.progress-success.progress-striped .bar {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

/* line 606, ../scss/_post-editor-default.scss */
.progress-info .bar {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
}

/* line 617, ../scss/_post-editor-default.scss */
.progress-info.progress-striped .bar {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

/* line 1, ../scss/_text-default.scss */
.text {
  font-size: 17px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: liga on;
  /*
  Copyright (c) 2010,.text  Yahoo! Inc. All rights reserved.
  Code licensed under the BSD License:
  http://developer.yahoo.com/yui/license.html
  version: 2.8.2r1
  */
}
/* line 19, ../scss/_text-default.scss */
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
  margin: 1em 0;
}
/* line 20, ../scss/_text-default.scss */
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6, .text strong, .text dt {
  font-weight: 600;
}
/* line 21, ../scss/_text-default.scss */
.text optgroup {
  font-weight: normal;
}
/* line 22, ../scss/_text-default.scss */
.text abbr, .text acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* line 23, ../scss/_text-default.scss */
.text em {
  font-style: italic;
}
/* line 24, ../scss/_text-default.scss */
.text del {
  text-decoration: line-through;
}
/* line 25, ../scss/_text-default.scss */
.text blockquote, .text ul, .text ol, .text dl {
  margin: 1em;
}
/* line 26, ../scss/_text-default.scss */
.text ol, .text ul, .text dl {
  margin-left: 2em;
}
/* line 27, ../scss/_text-default.scss */
.text ol li {
  list-style: decimal outside !important;
}
/* line 28, ../scss/_text-default.scss */
.text ul li {
  list-style: disc outside;
}
/* line 29, ../scss/_text-default.scss */
.text dl dd {
  margin-left: 1em;
}
/* line 30, ../scss/_text-default.scss */
.text th, .text td {
  padding: .5em;
}
/* line 31, ../scss/_text-default.scss */
.text th {
  font-weight: bold;
  text-align: center;
}
/* line 32, ../scss/_text-default.scss */
.text caption {
  margin-bottom: .5em;
  text-align: center;
}
/* line 33, ../scss/_text-default.scss */
.text sup {
  vertical-align: super;
}
/* line 33, ../scss/_text-default.scss */
.text sub {
  vertical-align: sub;
}
/* line 34, ../scss/_text-default.scss */
.text p, .text fieldset, .text table, .text pre {
  margin-bottom: 1em;
}
/* line 35, ../scss/_text-default.scss */
.text button, .text input[type="checkbox"],
.text input[type="radio"], .text input[type="reset"],
.text input[type="submit"] {
  padding: 1px;
}
/* line 42, ../scss/_text-default.scss */
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
  background: none;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0;
}
/* line 48, ../scss/_text-default.scss */
.text h1:first-child, .text h2:first-child, .text h3:first-child, .text h4:first-child, .text h5:first-child, .text h6:first-child {
  margin-top: 0;
}
/* line 49, ../scss/_text-default.scss */
.text h1:last-child, .text h2:last-child, .text h3:last-child, .text h4:last-child, .text h5:last-child, .text h6:last-child {
  margin-bottom: 0;
}
/* line 51, ../scss/_text-default.scss */
.text h1 {
  font-size: 30px;
}
/* line 52, ../scss/_text-default.scss */
.text h2 {
  font-size: 24px;
}
/* line 53, ../scss/_text-default.scss */
.text h3 {
  font-size: 20px;
}
/* line 54, ../scss/_text-default.scss */
.text h4 {
  font-size: 18px;
}
/* line 55, ../scss/_text-default.scss */
.text h5 {
  font-size: 16px;
}
/* line 56, ../scss/_text-default.scss */
.text h6 {
  font-size: 14px;
}
/* line 57, ../scss/_text-default.scss */
.text p {
  letter-spacing: -0.5px;
  overflow: hidden;
}
/* line 61, ../scss/_text-default.scss */
.text p:first-child {
  margin-top: 0;
}
/* line 62, ../scss/_text-default.scss */
.text p:last-child {
  margin-bottom: 0;
}
/* line 64, ../scss/_text-default.scss */
.text a {
  color: #4773ff;
  text-decoration: none;
}
/* line 68, ../scss/_text-default.scss */
.text u,
.text a:hover {
  text-decoration: underline;
}
/* line 72, ../scss/_text-default.scss */
.text strong, .text b {
  font-weight: 600;
}
/* line 75, ../scss/_text-default.scss */
.text em, .text i, .text address {
  font-style: italic;
}
/* line 78, ../scss/_text-default.scss */
.text p, .text ul, .text ol, .text dd, .text pre, .text hr {
  margin: 20px 0;
}
/* line 81, ../scss/_text-default.scss */
.text ul, .text ol {
  margin: 20px 0;
  padding-left: 30px;
}
/* line 85, ../scss/_text-default.scss */
.text hr {
  border: 1px inset;
  border-color: #000;
  border-style: solid;
}
/* line 90, ../scss/_text-default.scss */
.text pre {
  background-color: #F7F7F7;
  color: #222222;
  font-family: "Courier 10 Pitch",Courier,monospace !important;
  padding: 1.5em;
  word-break: break-all;
  word-break: break-word;
}
/* line 98, ../scss/_text-default.scss */
.text pre, .text kbd, .text tt, .text var {
  font-size: 15px;
}
/* line 102, ../scss/_text-default.scss */
.text blockquote:not(.twitter-tweet) {
  color: #9c9eac;
  font: italic 24px Georgia, Helvetica, serif;
  margin: 0 10px;
  padding: 0 10px 0 60px;
  quotes: "“" "”";
  position: relative;
  line-height: 1.5;
}
/* line 111, ../scss/_text-default.scss */
.text blockquote:not(.twitter-tweet)::before {
  content: open-quote;
  font-size: 4em;
  line-height: 1;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 122, ../scss/_text-default.scss */
.text blockquote:not(.twitter-tweet) p {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
/* line 132, ../scss/_text-default.scss */
.text table {
  border-collapse: separate;
  border-spacing: 2px;
}
/* line 136, ../scss/_text-default.scss */
.text table td {
  vertical-align: top;
}
/* line 139, ../scss/_text-default.scss */
.text .wp-caption {
  text-align: center;
  padding-top: 4px;
  margin: 10px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 149, ../scss/_text-default.scss */
.text .wp-caption .wp-caption-text {
  font-size: .9em;
  font-style: italic;
}
/* line 154, ../scss/_text-default.scss */
.text .wp-caption caption {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 165, ../scss/_text-default.scss */
.text .aligncenter,
.text dl.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 171, ../scss/_text-default.scss */
.text .alignleft {
  float: left;
}
/* line 174, ../scss/_text-default.scss */
.text .alignright {
  float: right;
}
/* line 178, ../scss/_text-default.scss */
.text ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green;
}
/* line 179, ../scss/_text-default.scss */
.text del {
  color: red;
  text-decoration: line-through;
}
/* line 180, ../scss/_text-default.scss */
.text cite {
  border-bottom: 1px dashed blue;
}
/* line 181, ../scss/_text-default.scss */
.text acronym {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}
/* line 182, ../scss/_text-default.scss */
.text abbr, .text html\:abbr {
  border-bottom: 1px dashed #CCC;
  cursor: help;
}
/* line 183, ../scss/_text-default.scss */
.text img:not(.width-persistent) {
  height: auto;
  width: 100%;
}
/* line 185, ../scss/_text-default.scss */
.text figure {
  margin: 0 0 40px;
  width: 100%;
}
/* line 189, ../scss/_text-default.scss */
.text figure iframe, .text figure .iframeContainer {
  margin-top: 40px;
  text-align: center;
}
/* line 193, ../scss/_text-default.scss */
.text figure iframe iframe, .text figure .iframeContainer iframe {
  width: 100%;
}
/* line 198, ../scss/_text-default.scss */
.text figure img {
  height: auto;
  margin-top: 20px;
  width: 100%;
}
/* line 204, ../scss/_text-default.scss */
.text figure figcaption {
  font-size: 14px;
  font-style: italic;
  color: #9c9eac;
  margin-top: 20px;
  text-align: center;
}
/* line 211, ../scss/_text-default.scss */
.text figure figcaption a {
  color: #9c9eac !important;
}
/* line 216, ../scss/_text-default.scss */
.text figure:focus {
  outline: none;
}
/* line 223, ../scss/_text-default.scss */
.text .read-this {
  background: #fff;
  border-color: #dadade;
  border-style: solid;
  border-width: 1px 0;
  position: relative;
}
/* line 230, ../scss/_text-default.scss */
.text .read-this .label {
  background: #4773ff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  line-height: 1;
  padding: 3px 5px;
  text-transform: uppercase;
}
/* line 241, ../scss/_text-default.scss */
.text .read-this ul {
  margin: 0;
  padding: 0;
}
/* line 245, ../scss/_text-default.scss */
.text .read-this ul li {
  margin: 0;
}
/* line 250, ../scss/_text-default.scss */
.text .read-this.single-article {
  overflow: hidden;
  *zoom: 1;
  margin: 40px 0 20px;
  overflow: hidden;
}
/* line 255, ../scss/_text-default.scss */
.text .read-this.single-article .label {
  margin-bottom: 8px;
}
/* line 259, ../scss/_text-default.scss */
.text .read-this.single-article ul li {
  display: block;
  padding: 3px 0;
  width: 100%;
}
/* line 265, ../scss/_text-default.scss */
.text .read-this.single-article .issues-text {
  display: table-cell;
  height: 108px;
  vertical-align: middle;
  padding: 0 85px 0 15px;
}
/* line 271, ../scss/_text-default.scss */
.text .read-this.single-article .issues-text .text {
  max-height: 60px;
  overflow: hidden;
}
/* line 277, ../scss/_text-default.scss */
.text .read-this.single-article .icon-right-big {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #4773ff;
  font-size: 60px;
  line-height: 1;
  position: absolute;
  right: -4px;
  top: 50%;
}
/* line 286, ../scss/_text-default.scss */
.text .read-this.single-article .icon-right-big::before {
  margin: 0;
}
/* line 292, ../scss/_text-default.scss */
.text .read-this.double-article {
  margin: 60px 0 20px;
}
/* line 295, ../scss/_text-default.scss */
.text .read-this.double-article .label {
  left: 0;
  top: -20px;
  position: absolute;
}
/* line 301, ../scss/_text-default.scss */
.text .read-this.double-article ul {
  display: table;
  width: 100%;
}
/* line 305, ../scss/_text-default.scss */
.text .read-this.double-article ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  padding: 15px 10px 20px 0;
  position: relative;
  width: 50%;
}
/* line 312, ../scss/_text-default.scss */
.text .read-this.double-article ul li:nth-child(even) {
  padding: 0 0 0 10px;
}
/* line 318, ../scss/_text-default.scss */
.text .read-this.double-article .issues-text {
  padding: 0 20px 0 155px;
}
/* line 321, ../scss/_text-default.scss */
.text .read-this.double-article .issues-text .text {
  overflow: hidden;
}
/* line 327, ../scss/_text-default.scss */
.text .read-this .issues-text {
  font-size: 0;
}
/* line 330, ../scss/_text-default.scss */
.text .read-this .issues-text .text {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 333, ../scss/_text-default.scss */
.text .read-this .issues-text .text > p {
  line-height: 22px;
  padding: 0;
}
/* line 340, ../scss/_text-default.scss */
.text .read-this .issues-img {
  float: left;
  height: 108px;
  position: relative;
  width: 140px;
}
/* line 346, ../scss/_text-default.scss */
.text .read-this .issues-img img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* line 360, ../scss/_text-default.scss */
.text .read-this ul li:hover .text {
  color: #4773ff;
}

@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
  }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
  }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
  }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
  }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
/* line 51, ../scss/medium/_medium-editor.scss */
.medium-editor-anchor-preview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000;
}

/* line 64, ../scss/medium/_medium-editor.scss */
.medium-editor-anchor-preview a {
  color: #fff;
  display: inline-block;
  margin: 5px 5px 10px;
}

/* line 69, ../scss/medium/_medium-editor.scss */
.medium-editor-anchor-preview-active {
  visibility: visible;
}

/* line 72, ../scss/medium/_medium-editor.scss */
.medium-editor-dragover {
  background: #ddd;
}

/* line 75, ../scss/medium/_medium-editor.scss */
.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
  animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px;
}

/* line 84, ../scss/medium/_medium-editor.scss */
.medium-editor-placeholder {
  position: relative;
}

/* line 86, ../scss/medium/_medium-editor.scss */
.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}

/* line 96, ../scss/medium/_medium-editor.scss */
.medium-editor-placeholder-relative {
  position: relative;
}

/* line 98, ../scss/medium/_medium-editor.scss */
.medium-editor-placeholder-relative:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  position: absolute;
  white-space: pre;
  padding: inherit;
  margin: inherit;
  top: 0;
  left: 0;
}

/* line 108, ../scss/medium/_medium-editor.scss */
.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0;
}

/* line 118, ../scss/medium/_medium-editor.scss */
.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px;
}

/* line 121, ../scss/medium/_medium-editor.scss */
.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px;
}

/* line 125, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000;
}

/* line 133, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar ul {
  margin: 0;
  padding: 0;
}

/* line 136, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 141, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar li button {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}

/* line 150, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar li button:focus {
  outline: none;
}

/* line 152, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline;
}

/* line 154, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar li .medium-editor-action-pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  font-weight: 100;
  padding: 15px 0;
}

/* line 160, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-active {
  visibility: visible;
}

/* line 163, ../scss/medium/_medium-editor.scss */
.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px;
}

/* line 167, ../scss/medium/_medium-editor.scss */
.medium-editor-relative-toolbar {
  position: relative;
}

/* line 170, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
  animation: medium-editor-pop-upwards 160ms forwards linear;
}

/* line 174, ../scss/medium/_medium-editor.scss */
.medium-editor-action-bold {
  font-weight: bolder;
}

/* line 177, ../scss/medium/_medium-editor.scss */
.medium-editor-action-italic {
  font-style: italic;
}

/* line 180, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-form {
  display: none;
}

/* line 182, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-form input,
.medium-editor-toolbar-form a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 185, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
  line-height: 14px;
  margin-left: 5px;
  padding-bottom: 5px;
}

/* line 189, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-form .medium-editor-toolbar-input,
.medium-editor-toolbar-form label {
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  width: 316px;
  display: inline-block;
}

/* line 198, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
.medium-editor-toolbar-form label:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: 0;
}

/* line 206, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-form a {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none;
}
/* line 213, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-form a.medium-editor-toolbar-save {
  margin-right: 0;
}

/* line 216, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-form-active {
  display: block;
}

/* line 219, ../scss/medium/_medium-editor.scss */
.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table;
}

/* line 224, ../scss/medium/_medium-editor.scss */
.medium-editor-element {
  word-wrap: break-word;
  min-height: 30px;
}

/* line 227, ../scss/medium/_medium-editor.scss */
.medium-editor-element img {
  max-width: 100%;
}

/* line 229, ../scss/medium/_medium-editor.scss */
.medium-editor-element sub {
  vertical-align: sub;
}

/* line 231, ../scss/medium/_medium-editor.scss */
.medium-editor-element sup {
  vertical-align: super;
}

/* line 234, ../scss/medium/_medium-editor.scss */
.medium-editor-hidden {
  display: none;
}

/* color code */
/* line 3, ../scss/medium/_medium-editor-default.scss */
.medium-toolbar-arrow-under:after {
  border-color: #242424 transparent transparent transparent;
  top: 50px;
}

/* line 7, ../scss/medium/_medium-editor-default.scss */
.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #242424 transparent;
  top: -8px;
}

/* line 11, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar {
  background-color: #212121;
  border: 1px solid #212121;
}

/* line 19, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar li button {
  background-color: #212121;
  border: 0;
  color: #fff;
  height: 50px;
  min-width: 50px;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

/* line 33, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar li button:hover {
  background-color: #000;
  color: yellow;
}

/* line 36, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 39, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 42, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar li .medium-editor-button-active {
  background-color: rgba(0, 0, 0, 0.89);
  color: #00bac6;
}

/* line 49, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar-form {
  background: #242424;
  border-radius: 5px;
  color: #999;
}

/* line 53, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: #242424;
  box-sizing: border-box;
  color: #ccc;
  height: 50px;
}

/* line 58, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar-form a {
  color: #fff;
}

/* line 61, ../scss/medium/_medium-editor-default.scss */
.medium-editor-toolbar-anchor-preview {
  background: #242424;
  border-radius: 5px;
  color: #fff;
}

/* line 66, ../scss/medium/_medium-editor-default.scss */
.medium-editor-placeholder:after {
  color: #b3b3b1;
}

/*! 
 * medium-editor-insert-plugin v2.3.3 - jQuery insert plugin for MediumEditor
 *
 * http://linkesch.com/medium-editor-insert-plugin
 * 
 * Copyright (c) 2014 Pavel Linkesch (http://linkesch.com)
 * Released under the MIT license
 */
/* line 10, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images, .mediumInsert {
  text-align: center;
}

/* line 12, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images figure, .mediumInsert figure {
  margin: 0;
  display: block;
}

/* line 15, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images figure img, .mediumInsert figure img {
  max-width: 100%;
  margin-top: 1em;
  vertical-align: top;
}

/* line 19, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images figure:first-child img, .mediumInsert figure:first-child img {
  margin-top: 0;
}

/* line 21, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images.medium-insert-images-left, .medium-insert-images-left.mediumInsert, .mediumInsert.small {
  max-width: 33.33%;
  float: left;
  margin: 0 30px 20px 0;
}
/* line 26, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images.medium-insert-images-left::after, .medium-insert-images-left.mediumInsert::after, .mediumInsert.small::after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images.medium-insert-images-right, .medium-insert-images-right.mediumInsert {
  width: 300px;
  float: right;
  margin: 0 0 20px 30px;
}

/* line 32, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images.medium-insert-images-grid, .medium-insert-images-grid.mediumInsert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.5em -0.5em;
}

/* line 49, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images.medium-insert-images-grid figure, .medium-insert-images-grid.mediumInsert figure {
  width: 33.33%;
  display: inline-block;
}

/* line 52, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images.medium-insert-images-grid figure img, .medium-insert-images-grid.mediumInsert figure img {
  max-width: calc(100% - 1em);
  margin: 0.5em;
}

/* line 56, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds, .mediumInsert-embeds {
  text-align: center;
  margin: 1em 0;
  position: relative;
}

/* line 60, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds iframe, .mediumInsert-embeds iframe {
  margin: 0 auto !important;
}

/* line 62, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds div, .mediumInsert-embeds div {
  margin: 0 auto !important;
}

/* line 64, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds.medium-insert-embeds-left, .medium-insert-embeds-left.mediumInsert-embeds {
  width: 33.33%;
  float: left;
  margin: 0 30px 20px 0;
}

/* line 68, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds.medium-insert-embeds-right, .medium-insert-embeds-right.mediumInsert-embeds {
  width: 33.33%;
  float: right;
  margin: 0 0 20px 30px;
}

/* line 73, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images figure, .mediumInsert figure, .medium-insert-embeds figure, .mediumInsert-embeds figure {
  position: relative;
}

/* line 75, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images figure figcaption, .mediumInsert figure figcaption, .medium-insert-embeds figure figcaption, .mediumInsert-embeds figure figcaption {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  /* margin: 10px 0;
  color: #ccc;
  font-size: 0.8em;
  font-style: italic; */
  outline: 0 solid transparent;
}

/* line 85, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images figure figcaption:focus, .mediumInsert figure figcaption:focus, .medium-insert-embeds figure figcaption:focus, .mediumInsert-embeds figure figcaption:focus {
  outline: 0 solid transparent;
}

/* line 88, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin {
  outline: 0 solid transparent;
}

/* line 90, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin:focus {
  outline: 0 solid transparent;
}

/* line 92, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .clearfix:before, .medium-editor-insert-plugin:before, .medium-editor-insert-plugin .clearfix:after, .medium-editor-insert-plugin:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 96, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin p {
  margin: 1em 0;
}

/* line 98, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin progress {
  display: block;
  margin: 1em auto;
}

/* line 101, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .hide {
  display: none;
}

/* line 103, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin.medium-editor-placeholder:after {
  /* padding: 1em 0; */
}

/* line 105, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .medium-insert-buttons {
  position: absolute;
  color: #aaaab5;
  font-size: 0.9em;
}

/* line 109, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .medium-insert-buttons button {
  display: block;
  cursor: pointer;
  color: #aaaab5;
  background: #fff;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #aaaab5;
  line-height: 30px;
  text-align: center;
  padding: 0;
}

/* line 122, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show {
  font-size: 25px;
  position: relative;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: -webkit-transform 100ms;
  transition: transform 100ms;
}

/* line 130, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show span {
  display: block;
  /* margin-top: -4px; */
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 138, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show.medium-insert-buttons-rotate {
  -webkit-transition: -webkit-transform 250ms;
  transition: transform 250ms;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 144, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: relative;
  z-index: 2;
  left: 55px;
  top: -32px;
}

/* line 153, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li {
  display: inline-block;
  margin: 0 5px;
}

/* line 156, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li .fa {
  font-size: 15px;
}

/* line 159, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-caption-placeholder {
  position: relative;
}

/* line 161, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-caption-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  content: attr(data-placeholder);
}

/* line 169, ../scss/medium/_medium-editor-insert-plugin.scss */
.dragging {
  cursor: move;
}

/* line 172, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-image-active {
  outline: 2px solid #000;
}

/* line 175, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images-toolbar {
  display: none;
}

/* line 178, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images, .mediumInsert {
  margin: 1em 0;
}

/* line 180, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images .dragged, .mediumInsert .dragged {
  position: absolute;
  top: 0;
  opacity: .5;
  z-index: 2000;
}

/* line 185, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images .placeholder, .mediumInsert .placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

/* line 190, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-images .medium-insert-images-progress, .mediumInsert .medium-insert-images-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
}

/* line 198, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds-input {
  position: relative;
  color: #ccc;
  z-index: 1;
  text-align: left;
}

/* line 204, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds-placeholder {
  position: relative;
}

/* line 206, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-placeholder);
  color: #ccc;
}

/* line 213, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds-selected .medium-insert-embed {
  outline: 2px solid #000;
}

/* line 216, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds-toolbar {
  display: none;
}

/* line 219, ../scss/medium/_medium-editor-insert-plugin.scss */
.medium-insert-embeds .medium-insert-embeds-overlay, .mediumInsert-embeds .medium-insert-embeds-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* color code */
/* line 3, ../scss/_ng-tags-input.scss */
tags-input {
  display: block;
  outline: none;
}

/* line 7, ../scss/_ng-tags-input.scss */
tags-input *, tags-input *:before, tags-input *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../scss/_ng-tags-input.scss */
tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  outline: none;
}

/* line 19, ../scss/_ng-tags-input.scss */
tags-input .host:active {
  outline: none;
}

/* line 23, ../scss/_ng-tags-input.scss */
tags-input .tags {
  padding: 5px 8px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: #f7f7f7;
  border: 1px solid #dadade;
  height: 100%;
}

/* line 37, ../scss/_ng-tags-input.scss */
tags-input .tags.focused {
  outline: none;
  /* -webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6); */
}

/* line 43, ../scss/_ng-tags-input.scss */
tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 48, ../scss/_ng-tags-input.scss */
tags-input .tags .tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font-size: 14px;
  height: 26px;
  line-height: 25px;
  border-radius: 3px;
  background: #09cfdc;
  color: #fff;
  /* background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); */
}

/* line 64, ../scss/_ng-tags-input.scss */
tags-input .tags .tag-item.selected {
  /* background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); */
}

/* line 68, ../scss/_ng-tags-input.scss */
tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
  color: #fff;
}

/* line 78, ../scss/_ng-tags-input.scss */
tags-input .tags .tag-item .remove-button:active {
  color: #ff0000;
}

/* line 81, ../scss/_ng-tags-input.scss */
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
  font-size: 14px;
}

/* line 92, ../scss/_ng-tags-input.scss */
tags-input .tags .input.invalid-tag {
  color: #ff0000;
}

/* line 95, ../scss/_ng-tags-input.scss */
tags-input .tags .input::-ms-clear {
  display: none;
}

/* line 98, ../scss/_ng-tags-input.scss */
tags-input.ng-invalid .tags {
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}

/* line 103, ../scss/_ng-tags-input.scss */
tags-input[disabled] .host:focus {
  outline: none;
}

/* line 106, ../scss/_ng-tags-input.scss */
tags-input[disabled] .tags {
  background-color: #eee;
  cursor: default;
}

/* line 110, ../scss/_ng-tags-input.scss */
tags-input[disabled] .tags .tag-item {
  opacity: 0.65;
  background: -webkit-linear-gradient(top, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
  background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
}

/* line 115, ../scss/_ng-tags-input.scss */
tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default;
}

/* line 118, ../scss/_ng-tags-input.scss */
tags-input[disabled] .tags .tag-item .remove-button:active {
  color: #585858;
}

/* line 121, ../scss/_ng-tags-input.scss */
tags-input[disabled] .tags .input {
  background-color: #eee;
  cursor: default;
}

/* line 126, ../scss/_ng-tags-input.scss */
tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 138, ../scss/_ng-tags-input.scss */
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative;
}

/* line 146, ../scss/_ng-tags-input.scss */
tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}

/* line 157, ../scss/_ng-tags-input.scss */
tags-input .autocomplete .suggestion-item.selected {
  color: #fff;
  background-color: #0097cf;
}

/* line 161, ../scss/_ng-tags-input.scss */
tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #0097cf;
}

/* line 165, ../scss/_ng-tags-input.scss */
tags-input .autocomplete .suggestion-item em {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: #000;
  background-color: #fff;
}

/*# sourceMappingURL=ng-tags-input.css.map */
/* line 17, ../scss/post-editor-polling.scss */
.eb-polling-list {
  margin-top: 50px;
}

/* line 21, ../scss/post-editor-polling.scss */
.eb-polling-separator {
  padding: 50px 0 50px;
  position: relative;
}
/* line 25, ../scss/post-editor-polling.scss */
.eb-polling-separator div {
  border-top: 1px solid #eaeaea;
}
/* line 27, ../scss/post-editor-polling.scss */
.eb-polling-separator span {
  background-color: #333437;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  height: 30px;
  width: 30px;
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
/* line 42, ../scss/post-editor-polling.scss */
.eb-polling-separator i::before {
  -moz-transform: rotate(45deg) translate3d(3px, 1px, 0);
  -ms-transform: rotate(45deg) translate3d(3px, 1px, 0);
  -webkit-transform: rotate(45deg) translate3d(3px, 1px, 0);
  transform: rotate(45deg) translate3d(3px, 1px, 0);
}
/* line 49, ../scss/post-editor-polling.scss */
.eb-polling-separator:hover span {
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

/* line 53, ../scss/post-editor-polling.scss */
.eb-polling-item {
  padding-left: 40px;
  position: relative;
}
/* line 57, ../scss/post-editor-polling.scss */
.eb-polling-item .polling-item-header {
  margin-bottom: 25px;
}
/* line 59, ../scss/post-editor-polling.scss */
.eb-polling-item .polling-item-numbers {
  color: #333437;
  font-size: 24px;
  font-weight: 600;
}
/* line 65, ../scss/post-editor-polling.scss */
.eb-polling-item .polling-item-numbers {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 71, ../scss/post-editor-polling.scss */
.eb-polling-item .polling-item-header {
  margin-bottom: 20px;
}
/* line 75, ../scss/post-editor-polling.scss */
.eb-polling-item .polling-item-question {
  border: 1px solid #dadade;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 600;
  color: #333437;
}
/* line 83, ../scss/post-editor-polling.scss */
.eb-polling-item .polling-item-remove,
.eb-polling-item .option-item-remove {
  background-color: #c2c2c7;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  height: 18px;
  line-height: 18px;
  text-align: center;
  width: 18px;
  position: absolute;
  top: -30px;
  right: 0;
}
/* line 98, ../scss/post-editor-polling.scss */
.eb-polling-item .polling-item-remove:hover, .eb-polling-item .polling-item-remove:active,
.eb-polling-item .option-item-remove:hover,
.eb-polling-item .option-item-remove:active {
  background-color: black;
}
/* line 107, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item {
  display: block;
  border: 1px solid #dadade;
  position: relative;
  height: 90px;
  overflow: hidden;
  padding: 0 30px 0 150px;
  margin-bottom: 5px;
}
/* line 116, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item:last-child {
  margin-bottom: 0;
}
/* line 120, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item.add-more {
  cursor: pointer;
  border-style: dashed;
  padding: 0;
}
/* line 125, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item.add-more > span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  color: #7d7e88;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 134, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item.add-more .iplus-holder {
  background-color: #aaaab5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  top: 50%;
  left: 0;
  height: 30px;
  width: 30px;
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  margin-right: 10px;
}
/* line 149, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item.add-more i::before {
  -moz-transform: rotate(45deg) translate3d(3px, 1px, 0);
  -ms-transform: rotate(45deg) translate3d(3px, 1px, 0);
  -webkit-transform: rotate(45deg) translate3d(3px, 1px, 0);
  transform: rotate(45deg) translate3d(3px, 1px, 0);
}
/* line 155, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item-image {
  background-color: #eaeaea;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 125px;
  color: #7d7e88;
}
/* line 164, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item-image > span {
  position: absolute;
  top: 50%;
  width: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
/* line 172, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item-image i {
  font-size: 32px;
}
/* line 173, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item-image span span {
  display: block;
}
/* line 175, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item-image a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
/* line 185, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item-title {
  height: 80%;
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}
/* line 191, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item-title span {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
/* line 203, ../scss/post-editor-polling.scss */
.eb-polling-item .option-item-remove {
  top: 5px;
  right: 5px;
}
/* line 210, ../scss/post-editor-polling.scss */
.eb-polling-item .fileupload-pool {
  height: 290px;
}
/* line 213, ../scss/post-editor-polling.scss */
.eb-polling-item .fileupload-pool .helper_text {
  padding-top: 70px;
}
/* line 214, ../scss/post-editor-polling.scss */
.eb-polling-item .fileupload-pool .from_url {
  bottom: 80px;
}
