.eb-meme-image {
  z-index: 2; }

.preview {
  width: 726px;
  height: 490px;
  overflow: hidden; }
  .preview img {
    width: 100%;
    height: 100%; }
  .preview p {
    padding: 0;
    margin: 0;
    display: inline-block; }
  .preview .is-active {
    background-color: rgba(242, 237, 169, 0.5); }
  .preview .canvas-top-caption {
    width: 726px;
    height: 490px;
    font-size: 22pt;
    font-weight: 600;
    position: absolute;
    top: 2px;
    left: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    overflow: hidden; }
    .preview .canvas-top-caption p {
      cursor: move;
      display: inline-block;
      z-index: 2; }
  .preview .canvas-bottom-caption {
    width: 726px;
    height: 490px;
    font-size: 20pt;
    font-weight: 600;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    overflow: hidden; }
    .preview .canvas-bottom-caption p {
      cursor: move;
      display: inline-block;
      z-index: 2;
      top: 400px; }

.file-upload {
  width: 300px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background-color: #9c9eac;
  border-radius: 50px; }
  .file-upload span {
    position: absolute;
    top: -20px;
    left: 95px;
    color: #fff; }
  .file-upload .upload-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 14pt;
    cursor: pointer;
    opacity: 0;
    display: block;
    filter: alpha(opacity=0); }

.eb-meme-option {
  padding-bottom: 200px; }
  .eb-meme-option .eb-meme-caption {
    margin-bottom: 20px;
    margin-top: 20px;
    float: left; }
    .eb-meme-option .eb-meme-caption .eb-meme-top-caption {
      width: 350px;
      height: 80px;
      float: left;
      margin-right: 28px;
      padding: 10px 0 0 10px;
      font-size: 18pt;
      resize: none;
      border: 1px solid #dadade;
      color: #333437; }
      .eb-meme-option .eb-meme-caption .eb-meme-top-caption::-webkit-input-placeholder {
        color: #dadade; }
      .eb-meme-option .eb-meme-caption .eb-meme-top-caption:-moz-placeholder {
        /*for FIREFOX -18*/
        color: #dadade; }
      .eb-meme-option .eb-meme-caption .eb-meme-top-caption::-moz-placeholder {
        /*for FIREFOX 18+*/
        color: #dadade; }
      .eb-meme-option .eb-meme-caption .eb-meme-top-caption:-ms-input-placeholder {
        color: #dadade; }
    .eb-meme-option .eb-meme-caption .eb-meme-bottom-caption {
      width: 350px;
      height: 80px;
      padding: 10px 0 0 10px;
      font-size: 18pt;
      float: left;
      resize: none;
      border: 1px solid #dadade;
      color: #333437; }
      .eb-meme-option .eb-meme-caption .eb-meme-bottom-caption::-webkit-input-placeholder {
        color: #dadade; }
      .eb-meme-option .eb-meme-caption .eb-meme-bottom-caption:-moz-placeholder {
        /*for FIREFOX -18*/
        color: #dadade; }
      .eb-meme-option .eb-meme-caption .eb-meme-bottom-caption::-moz-placeholder {
        /*for FIREFOX 18+*/
        color: #dadade; }
      .eb-meme-option .eb-meme-caption .eb-meme-bottom-caption:-ms-input-placeholder {
        color: #dadade; }
  .eb-meme-option .eb-meme-dropdown {
    width: 166px;
    float: left; }
    .eb-meme-option .eb-meme-dropdown label {
      vertical-align: middle;
      font-size: 12px;
      text-transform: uppercase;
      color: #333437; }
    .eb-meme-option .eb-meme-dropdown select {
      width: 100%;
      height: 40px;
      font-size: 14pt;
      margin-top: 10px;
      padding: 5px;
      border: 1px solid #dadade;
      cursor: pointer;
      color: #333437;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      /*z-index: 1;*/
      /*position: relative;*/ }
  .eb-meme-option .eb-meme-color {
    width: 60px;
    float: left;
    margin-left: 30px;
    display: block; }
    .eb-meme-option .eb-meme-color label {
      vertical-align: middle;
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 10px !important;
      float: left; }
    .eb-meme-option .eb-meme-color input[type="text"] {
      width: 100%;
      margin-top: 0px;
      position: absolute;
      float: left; }
  .eb-meme-option .eb-meme-outline {
    width: 60px;
    float: left;
    margin-left: 30px; }
    .eb-meme-option .eb-meme-outline label {
      vertical-align: middle;
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 10px !important;
      float: left; }
    .eb-meme-option .eb-meme-outline input[type="text"] {
      width: 100%;
      /*height: 400px !important;*/
      float: left; }
  .eb-meme-option .eb-meme-button {
    width: 150px;
    float: left;
    margin-left: 30px; }
    .eb-meme-option .eb-meme-button button {
      width: 100%;
      height: 40px;
      margin-top: 30px;
      background-color: transparent;
      border: 2px solid lightblue;
      color: lightblue;
      font-size: 12pt;
      text-transform: uppercase;
      font-weight: 600; }
      .eb-meme-option .eb-meme-button button:hover {
        background-color: lightblue;
        color: #fff;
        transition: 0.6s; }

/*# sourceMappingURL=style.css.map */
