@import "template";
@import "post-editor-default";

// ==========================================================================
// Variables
// ==========================================================================


// ==========================================================================



// ==========================================================================
// BODY
// ==========================================================================

.eb-gallery {
	padding-top: 30px;
}

.eb-gallery-upload {
	margin-bottom: 40px;
	text-align: center;

	a, span { 
		display: block;
		font-size: 14px;
	}

	// ==========================================================================
	
	.upload-btn {
		@include border-radius(10000px);
		cursor: pointer;
		line-height: 40px;
		text-transform: uppercase;
	}

	.upload-helper {
		margin-top: 15px;
		color: $black-30;

	}
}

// ==========================================================================

.eb-gallery-list {

	.eb-gallery-item {
		border: 1px solid $black-10;
		overflow: hidden;
		min-height: 227px;
		padding-left: 329px;
		position: relative;
		margin-bottom: 25px;

		&:last-child { margin-bottom: 0; }

		.ebg-image {
			border-right: 1px solid $black-10;
			background-color: $black-02;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 328px;

			img {
				max-height: 100%;
				max-width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate(-50%,-50%);
			}
		}

		.ebg-detail {
			@include box-sizing(border-box);
			padding: 10px 10px 10px 15px;
			width: 397px;
		}

		.ebg-header {
			text-align: right;

			a {
				background-color: $black-20;
				cursor: pointer;
				color: $white;
				@include inline-block;
				@include transition(background-color .2s ease-in);
				height: 18px;
				line-height: 18px;
				text-align: center;
				width: 18px;

				&:hover,&:active { background-color: black; }
			}
		}

		.ebg-text {
			margin-top: 30px;
			font-size: 14px;
		}
	}
}

// ==========================================================================
