@import "template";

// ==========================================================================
// Sign Up
// ==========================================================================

// ===========================
// Sign Up -> Web
// ===========================
.signup-page{
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;

	.signup-content{
		@include translate(-50%, -50%);
		left: 50%;
		height: 524px;
		max-height: 524px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		width: 570px;
		z-index: 2;

		&.signup-complete{
			height: auto;
			max-height: 600px;
			width: 448px;
		}
	}

	.signup-head{
		@include box-sizing(border-box);
		background: image-url('sign-up.gif') 0 0 no-repeat;
		height: 262px;
		padding: 70px 20px 70px 260px;

		.txt{
			color: $black-80;
			font-size: 24px;

			p{
				margin: 0;
				padding: 0;
			}

			&.warning{
				color: $vermilion;
			}

			.note{
				color: $black-40;
				font-size: 14px;
				line-height: 20px;
				margin-top: 15px;
			}
		}
	}

	.signup-form{
		padding: 52px 0 68px;

		input[type="text"],
		input[type="password"],
		input[type="date"] {
			@include box-sizing(border-box);
			@include input-placeholder { color: $black-20; }
			background: transparent;
			border: 2px dashed $white;
			color: $white;
			font-size: 20px;
			height: 60px;
			line-height: 54px;
			padding: 0 20px;
			width: 100%;

			&:focus{
				outline: none;
			}
		}

		.inputfile {
		    width: 0.1px;
		    height: 0.1px;
		    opacity: 0;
		    overflow: hidden;
		    position: absolute;
		    z-index: -1;
		}

		.btn-upload{
			@include box-sizing(border-box);
			background: transparent;
			border: 2px dashed $white;
			display: block;
			color: $black-20;
			font-size: 20px;
			height: 60px;
			line-height: 54px;
			padding: 0 20px 0 230px;
			position: relative;

			&:hover{
				cursor: pointer;
			}

			&::before{
				@include box-sizing(border-box);
				@include border-radius(3px);
				@include translateY(-50%);
				background: $black-25;
				border-bottom: 2px solid $black-30;
				color: $white;
				content: "Get image";
				height: 52px;
				font-size: 16px;
				left: 2px;
				line-height: 52px;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				top: 50%;
				width: 200px;
			}

			span{
				display: block;
			    overflow: hidden;
			    text-overflow: ellipsis;
				width: 316px;
			    white-space: nowrap;
			}
		}

		.form-button{
			font-size: 0;
			margin-top: 30px;

			button{
				@include border-radius(3px);
				@include box-shadow($black-90 0 2px 0);
				background: $black-80;
				color: $white;
				border: none;
				display: inline-block;
				font-size: 14px;
				font-weight: 600;
				line-height: 50px;
				margin-left: 10px;
				min-width: 120px;
				padding: 0 15px;
				text-transform: uppercase;

				&:first-child{
					margin-left: 0;
				}

				& > span{
					font-size: 12px;
					font-weight: normal;
					text-transform: none;
					margin-left: 5px;

					.bold{
						font-weight: 600;
					}
				}
			}

			.next{
				@include box-shadow($dark-tosca 0 2px 0);
				background: $tosca;
				padding-left: 85px;
				position: absolute;

				&::before{
					@include box-sizing(border-box);
					@include border-radius(3px);
					@include translateY(-50%);
					border: 1px solid $dark-tosca;
					content: "Next";
					height: 35px;
					font-weight: 600;
					left: 8px;
					line-height: 33px;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					top: 50%;
					width: 75px;
				}

				& > span{
					color: $black-80;
				}

			}
		}
	}



	.signup-complete{

		.signup-head{
			@include box-sizing(border-box);
			background: image-url('sign-up-complete.png') 20px 100% no-repeat;
			background-size: 130px auto;
			height: 180px;
			padding: 80px 20px 0 180px;
		}

		.signup-information{
			@include border-radius(3px);
			background: $white;
			border: 1px solid $black-10;
			overflow: hidden;
		}

		.info-head{
			@include clearfix();
			background: $black-80;
			height: 70px;

			.info-logo{
				background: url('../img/common/new-keepo-logo-k.png') 18px 15px no-repeat;
				background-size: 20px auto;
				display: block;
				height: 70px;
				float: left;
				width: 90px;
			}

			.info-title{
				@include box-sizing(border-box);
				color: $white;
				display: block;
				padding-left: 110px;
				width: 100%;
			}

			.title-box{
				@include display-flex;
				@include align-items(center);
				height: 70px;
				vertical-align: middle;

				p{
					margin: 0;
					padding: 0;
				}

				.title{
					font-size: 24px;
					font-weight: 600;
				}

				.txt{
					font-size: 14px;
				}
			}
		}

		.info-content{
			@include clearfix();
			padding: 25px 12px 25px;

			.photo{
				float: left;

				.img{
					@include align-items(center);
					@include border-radius(50%); 
					@include box-sizing(border-box);
					background: $black-02;
				    border: 2px dashed $black-10;
				    color: #7d7e88;
				    height: 80px;
				    overflow: hidden;
				    position: relative;
				    width: 80px;
				    background-size: cover;
				    background-position: 50% 50%;

				    .keepo-icon{
						@include translate(-50%, -50%);
				    	font-size: 26px;
				    	left: 50%;
				    	line-height: 1;
				    	position: absolute;
				    	top: 50%;
				    	z-index: 3;

				    	&::before{
				    		margin: 0;
				    	}
				    }

				    img{
				    	height: auto;
					    max-height: 100%;
					    max-width: 100%;
					    position: absolute;
					    width: auto;
				    	z-index: 4;
				    }
				}
			}

			.account-info{
				display: block;
				padding-left: 98px;

				& > div[class^="info"]{
					border-bottom: 1px solid $black-10;
					display: table;
					margin-top: 10px;
					width: 100%;

					&:first-child{
						margin-top: 0;
					}

					.label,
					.data{
						@include box-sizing(border-box);
						display: table-cell;
						font-size: 14px;
						padding: 4px 0;
						width: auto;
					}

					.label{
						color: $black-40;
						padding: 0 10px 0 2px;
						width: 110px;
					}

					.data{
						color: $black-80;
					}
				}
			}
		}

		.signup-foot{
			padding-top: 5px;

			.text-area{

				p{
					color: $white;
					font-size: 12px;
					margin: 15px 0 0 0;

					&:first-child{
						margin-top: 0;
					}

					a{
						@include transition(color .2s linear);
						color: $white;
						text-decoration: underline;
					}
				}
			}

			.button-area{
				@include clearfix();
				margin-top: 25px;

				li{
					@include box-sizing(border-box);
					display: block;
					height: 52px;
					float: left;
					padding: 0 5px 0 0;
					width: 50%;

					&:nth-child(even){
						padding: 0 0 0 5px;
					}

					a{
						@include transition(background .2s linear);
						@include border-radius(3px);
						@include box-shadow($black-90 0 2px 0);
						background: $black-80;
						cursor: pointer;
						color: $white;
						display: block;
						border: none;
						font-size: 14px;
						font-weight: 600;
						height: 50px;
						line-height: 50px;
						text-align: center;

							&:hover{
								background: $black-90;
							}
					}

					&.finish{

						a{
							@include box-shadow($dark-tosca 0 2px 0);
							background: $tosca;

							&:hover{
								background: $dark-tosca;
							}
						}
					}
				}
			}
		}
	}
	
	.grey-area{
		background: $black-40;
		bottom: 0;
		height: 50%;
		left: 0;
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 1;
	}
}

// Loading Status
.loading {
	position: relative;
	height: 200px;
}

.loading .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -48px 0 0 -48px;
  font-size: 96px;
  color: #FFF;
  height: 50px;
  width: 50px;
}

.loading .loader-icon.spinning-cog {
  -webkit-animation: spinning-cog 1.3s infinite ease;
  -moz-animation: spinning-cog 1.3s infinite ease;
  -ms-animation: spinning-cog 1.3s infinite ease;
  -o-animation: spinning-cog 1.3s infinite ease;
  animation: spinning-cog 1.3s infinite ease;
}

@-webkit-keyframes spinning-cog {
  0% { -webkit-transform: rotate(0deg) }
  20% { -webkit-transform: rotate(-45deg) }
  100% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes spinning-cog {
  0% { -moz-transform: rotate(0deg) }
  20% { -moz-transform: rotate(-45deg) }
  100% { -moz-transform: rotate(360deg) }
}

@-o-keyframes spinning-cog {
  0% { -o-transform: rotate(0deg) }
  20% { -o-transform: rotate(-45deg) }
  100% { -o-transform: rotate(360deg) }
}

@keyframes spinning-cog {
  0% { transform: rotate(0deg) }
  20% { transform: rotate(-45deg) }
  100% { transform: rotate(360deg) }
}

@-webkit-keyframes shrinking-cog {
  0% { -webkit-transform: scale(1) }
  20% { -webkit-transform: scale(1.2) }
  100% { -webkit-transform: scale(0) }
}

@-moz-keyframes shrinking-cog {
  0% { -moz-transform: scale(1) }
  20% { -moz-transform: scale(1.2) }
  100% { -moz-transform: scale(0) }
}

@-o-keyframes shrinking-cog {
  0% { -o-transform: scale(1) }
  20% { -o-transform: scale(1.2) }
  100% { -o-transform: scale(0) }
}

@keyframes shrinking-cog {
  0% { transform: scale(1) }
  20% { transform: scale(1.2) }
  100% { transform: scale(0) }
}


// Sign Up
// ==========================================================================




// ==========================================================================
// External CSS
// ==========================================================================

@import "editor-loading-status";

// End of External CSS
// ==========================================================================


// ==========================================================================
// Media Queries
// ==========================================================================

// End of Media Queries
// ==========================================================================
